@import './scss/custom.css';

.project-card-image {
  /* max-width:150px; */
  /* max-height:150px; */
  max-width: none;
    max-height: none;

  /* width: auto; */
  /* height: auto; */
  object-fit: cover;
}

@media (min-width: 1000px) {
  .project-card-image {
    max-width: 150px;
    max-height: 150px;

  }

}


.project-card {
    /* background-color: #e5d9b6 ; */
    border-width: 10px;
    border-color: #be9e44;
    border-radius: 15px;
    

}

.album-icon {
  filter: invert(75%) sepia(71%) saturate(267%) hue-rotate(2deg) brightness(86%) contrast(84%);

}

.card-img-overlay {
  line-height: 5px!important;
}

p {
  line-height: 1;
}